#header {
            background-color: red;
            color: white;

        }

        .nhânvật {
            
            color: rgb(241, 80, 220);
            background-attachment: rgb(197, 8, 8)
        }