
table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}
th, td {
  border: 1px solid #2e2323;
  padding: 10px;
}
th {
  background: #db2424;
  color: white;
}
tr:nth-child(even) {
  background: #d87676;
}
tr:hover {
  background: #d0ebff;
}